@import "../../assets/scss/variables";

.store-lnk-container {
  border-width: 0.2px;
  border-radius: 10px;
  width: 70vw;
  justify-content: center;
  padding: 20px;
  background-color: $white;
}

.lnk-container {
  border-width: 0.2px;
  border-radius: 50px;
  padding: 10px;
  background-color: $white;
  display: flex;
  align-items: center;
  margin: 0;
  flex-direction: row;
  width: 60vw;
  justify-content: space-between;
}

.lnk-text {
  font-size: 18px;
  margin: 0;
}

.count-text {
  font-size: 30px;
  color: $black;
  font-weight: 400;
  margin: 0;
}

.card-title-text {
  font-size: 15px;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 5px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.card-icon {
  color: $primary;
}

.percentage-text {
  font-size: 13px;
}

.welcomeUser {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 6px;
}

.bottom-view {
  display: flex;
  width: 100%;
}
