@import "../../assets/scss/variables";

.store-lnk-container {
  border-width: 0.2px;
  border-radius: 10px;
  width: 70vw;
  justify-content: center;
  padding: 20px;
  background-color: $white;
}

.lnk-container {
  border-width: 0.2px;
  border-radius: 50px;
  padding: 10px;
  background-color: $white;
  display: flex;
  align-items: center;
  margin: 0;
  flex-direction: row;
  width: 60vw;
  justify-content: space-between;
}

.lnk-text {
  font-size: 18px;
  margin: 0;
}

.count-text {
  font-size: 30px;
  color: $black;
  font-weight: 400;
  margin: 0;
}

.card-title-text {
  font-size: 15px;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 5px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.card-icon {
  color: $primary;
}

.percentage-text {
  font-size: 13px;
}

.welcomeUser {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 6px;
}

.bottom-view {
  display: flex;
  width: 100%;
}

.list-heading {
  font-size: 20px;
  font-weight: 500;
}

.lists-container {
  max-width: 50%;
  margin-top: 36px;
  width: 100%;
}

.lists-container .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 10px;
}

.lists-container .top .title {
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px
}

.lists-container .top .action {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.5px;
}

.lists-container .list {
  border-radius: 12px;
  border: 1px solid rgba(179, 245, 191, 0.50);
  padding: 20px;
}

.lists-container .list .list-card {
  padding: 13px 15px;
  border-radius: 14px;
  border: 1px solid #EAECF0;
  background: #FFF;
  box-shadow: 58px 26px 68px 0px rgba(35, 44, 93, 0.03);
  margin-bottom: 10px;
}

.lists-container .list-card .img-container {
  height: 34px;
  width: 34px;
  background: #d5e7fd;
  border-radius: 50%;
  margin-right: 10px;
}

.lists-container .list-card .img-container img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}

.lists-container .list-card .details .title {
  color: #040415;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.align-items-center {
  width: 100%;
}

.lists-container .list-card .details .secondary-text {
  color: #9B9BA1;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.lists-container .list-card .actions .btn-white {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0;
  margin-right: 22px;
  width: 80%;
}

.lists-container .list-card .actions .btn-primary {
  border-radius: 30px;
  background: var(--text, #6E3BFF);
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 0;
  height: 40px;
  padding: 11px 25px;
  min-width: 105px;
}

.lists-container .list-card .check-container {
  width: 22px;
  height: 22px;
  margin-right: 17px;
}

.webHomePageOrderPendingImageContainer {
  width: 34px;
  height: 34px;
}

.actionButton {
  display: flex;
  margin-left: 3%;
}

.webPendingOrderProductLabel{
  margin-left: 3%;
}
