/* Base wrapper css */
.pos-home-container {
    background: #F5F9FC;
    min-height: 100vh;
    width: 100vw;
    padding: 25px;
}

.pos-home-container .left {
    padding: 0 26px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.pos-home-container .right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Base wrapper css end*/

.pos-home-container .left .search {
    height: 59px;
    border-radius: 40px;
    border: 1px solid #00000080;
}

.pos-home-container .left .search,
.pos-home-container .left .search:active,
.pos-home-container .left .search:hover {
    background: transparent;
    padding: 0 30px;
}

.pos-home-container .left input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

.pos-home-container .left .items-container {
    flex: 1;
    padding: 20px;
    border-radius: 12px;
    background: #FFFFFF;
    border: 1px solid #E0EAF1;
    overflow: auto;
    max-height: 610px;
}

.pos-home-container .options-container {
    padding: 16px 21px;
    display: flex;
    gap: 12px;
    background: #FFFFFF;
    height: 183px;
    padding: 20px;
    border-radius: 12px;
    border: 1px;
    border: 1px solid #E0EAF1;
    overflow-y: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.pos-home-container .options-container .options {
    width: 141px;
    height: 68px;
    border-radius: 14px;
    background: #E1EBF3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.empty-container .title {
    margin-top: 41px;
    margin-bottom: 4px;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
}

.empty-container .description {
    width: 35%;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

.pos-home-container .items-container .header-row {
    margin: 13px 0 18px;
    padding: 0 23px;
}

.pos-home-container .items-container .item-header-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
}

.pos-home-container .items-container .content-row {
    border-radius: 14px;
    margin-bottom: 10px;
    border: 1px solid #EAECF0;
    box-shadow: 58px 26px 68px 0px #232C5D08;
    padding: 16px 23px;
}

.pos-home-container .items-container .serial-no {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
}

.pos-home-container .items-container .content-row .product-icon {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: #E0EAF1;
}

.pos-home-container .items-container .content-row .title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    color: #040415;
}

.pos-home-container .items-container .content-row .sub-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    color: #9B9BA1;
}

.pos-home-container .items-container .quantity-container {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.pos-home-container .items-container .quantity-container .value {
    width: 38px;
    height: 30px;
    border-radius: 8px;
    background: #FFFEFE;
    border: 1px solid #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
}

.pos-home-container .items-container .quantity-container .control {
    border-radius: 50%;
    color: #382F2F;
    border: 1px solid #00000080;
    background: #FFFEFE;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}