.settingTileCardViewContainer {
    top: 122px;
    padding: 12px 16px 12px 16px;
    border-radius: 8px;
    gap: 16px;
    border: 1px solid #A8A8A8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.parentContainer {
    background: #ffffff;
    width: 100%;
    margin: 0px;
}

.defaultContainerMargin {
    margin: 10px 20px;
    align-items: flex-start;
}

.settingTitleLabel {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #262626;
}

.settingDescriptionLabel {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #A8A8A8;
}

.settingLeftCardContainer {
    width: 10%;
}

.settingCenterCardContainer {
    width: 80%;
}

.settingRightCardContainer {
    width: 10%;
}

.settings-container {
    margin-left: 256px;
    padding: 40px 40px 0;
    background: #F6F9FC;
    min-height: calc(100vh - 65px);
}

.settings-container .options {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 5px 4px 10px 0px #0000001A;
    padding: 25px;
    width: 100%;
}

.settings-container .options .option {
    border-bottom: 1px solid #D0D0D0;
    padding: 14px 0 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 100ms ease-out;
}

.settings-container .options .option:hover {
    transform: scale(1.02);
    font-weight: 500;
}

.settings-container .options .option.active {
    color: #6E3BFF;
}

.settings-container .options .option.disabled {
    color: #dddddd;
    cursor: not-allowed;
}

.settings-container .details {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 5px 4px 10px 0px #0000001A;
    padding: 25px;
    width: 100%;
}

.settings-container .details .title {
    margin-bottom: 5px;
}

.settings-container .details .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.01em;
}

.settings-container .ant-form-item-row {
    flex-direction: column;
}

.settings-container .ant-form-item-label {
    text-align: left;
}

.settings-container .ant-form-item-label>label::after {
    content: "";
}

.settings-container .ant-form-item {
    min-height: 70px;
}

.settings-container .ant-form-item-control-input,
.settings-container .ant-form-item-control-input-content input {
    min-height: 54px;
    border-radius: 8px;
}

.delete-store {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 15px;
    font-weight: 800;
    color: rgb(206, 81, 80);
    cursor: pointer;
}

.settings-container .save-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 0;
}

.settings-container .developer-tools {
    background: #FFFFFF;
    box-shadow: 5px 4px 10px 0px #0000001A;
    padding: 25px;
}

.settings-container .developer-tools .title {
    font-size: 18px;
    font-weight: 600;
}

.settings-container .developer-tools .description {
    font-size: 15px;
    font-weight: 400;
}

.settings-container .developer-tools .description .view-btn {
    font-size: 16px;
    font-weight: 500;
}

.domainPartnerContainer {
    background-color: #FFFFFF;
    padding: 3% 2% 3% 2%;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
    box-shadow: 0 2px 6px #1a181e0a;
}

.domainNamePartnerContainer {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 10%;
    flex-direction: row;
    background-color: #FFFFFF;
    padding: 3% 2% 3% 2%;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
    box-shadow: 0 2px 6px #1a181e0a;
}

.live {
    border: 1px solid #17ed08;
    padding: 0 5px;
    color: #10ed08;
    background-color: #f3f8f2;
    overflow: hidden;
}


.domainHeaderContainer {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.domainDescriptionContainer {
    color: gray;
    font-size: 14px;
    line-height: 20px;
}


.connectExternalDomainContainer {
    margin-top: 5%;
    border-radius: 4px;
    box-shadow: 0 2px 6px #1a181e0a;
    background-color: #fff;
    padding: 3% 2% 3% 2%;
}

.connectInnerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.connectExternalDomainHeaderContainer {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.domainConnectButtonContainer {
    font-weight: 500;
    padding: 8px 15px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    transition: .15s ease-in-out;
    background-color: #0000;
    -webkit-user-select: none;
    user-select: none;
    background-color: #146eb4;
    text-align: center;
    outline: none;
    border: none;
    padding: 5px 12px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    transition: .15s ease-in-out;
}

.delete-store-warning {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.videoPlayerContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.videoPlayerContainer iframe {
    width: 100%;
    max-width: 560px; /* Limits the width to avoid stretching on larger screens */
    height: 315px;
    border-radius: 8px; /* Adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}
