.orderCardContainer {
    display: flex;
    flex-direction: column;
    margin-top: 7px !important;
    height: 68px;
    border-radius: 14px;
    border: 1px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #EAECF0, #EAECF0);
    box-shadow: 58px 26px 68px 0px #232C5D0F;
    border: 1px solid #EAECF0;
    justify-content: center;
}

.order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}
.order-image img {
    margin-left: 20px;
    width: 33px;
    height: 33px;
}

.order-video-container {
    margin-left: 20px;
}

.product-details {
    flex: 1;
    margin: 0 10px;
    max-width: 50%;
}

.orderImage {
    height: 100px;
    width: 100px;
}

.orderImageMobile {
    border-radius: 50px;
}

.order-details {
    flex: 1;
    margin: 0 10px;
    max-width: 50%;
}

.mobileOrderLayout {
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    position: relative;
}

.orderTimingTextColor {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: #9B9BA1;
}

.orderStatusContainer {
    display: flex;
    width: 71px;
    height: 22px;
    left: 257px;
    border-radius: 30px;
    border: 0.5px solid #000000;
    justify-content: center;
    margin-right: 7px;
    text-overflow: ellipsis;    
}

.orderStatusLabel {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0em;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%; 
}

.userOrderSectionMobileLayout {
    height: 100vh;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    padding: 20px;
    position: relative;
    overflow: auto; /* Add this line to enable scrolling */
}

.loaderContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}


.orderListProductItemDesktopContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    margin-left: 5%;
    justify-content: flex-start;
}